apiVersion: v1
kind: Secret
metadata:
  name: grafana-influxdb-datasource
  namespace: monitoring
  labels:
    grafana_datasource: "1"
type: Opaque
stringData:
  influxdb-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: InfluxDB
        type: influxdb
        access: proxy
        url: http://influxdb-influxdb2.influxdb.svc:80
        jsonData:
          version: Flux
          organization: {{ influxdb_metrics_organization }}
          defaultBucket: {{ influxdb_metrics_bucket }}
        secureJsonData:
          token: {{ influxdb_admin_token }}
        isDefault: false
