authentik:
  global:
    envFrom:
      - secretRef:
          name: authentik-credentials
  authentik:
    secret_key: ""
    postgresql:
      password: ""
  postgresql:
    enabled: true
    auth:
      existingSecret: authentik-credentials
      secretKeys:
        adminPasswordKey: AUTHENTIK_POSTGRESQL__PASSWORD
        userPasswordKey: AUTHENTIK_POSTGRESQL__PASSWORD
    primary:
      persistence:
        enabled: false
  redis:
    enabled: true
    master:
      persistence:
        enabled: false
  server:
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - auth.ruddenchaux.xyz
      tls:
        - secretName: authentik-tls
          hosts:
            - auth.ruddenchaux.xyz
