---
- name: Check existing IPv6 addresses
  community.routeros.command:
    commands:
      - /ipv6 address print
  register: _ipv6_addresses

# Assign ::1 from the DHCPv6-PD pool to each VLAN interface.
# RouterOS carves a /64 from the delegated prefix per interface automatically.
# The comment "ipv6-gw-<iface>" is used as idempotency key.
- name: Assign /64 from DHCPv6-PD pool to VLAN interfaces
  community.routeros.command:
    commands:
      - >-
        /ipv6 address add
        address=::1
        from-pool={{ mikrotik_ipv6_pool_name }}
        interface={{ item }}
        advertise=yes
        comment="ipv6-gw-{{ item }}"
  loop: "{{ mikrotik_ipv6_vlan_interfaces }}"
  when: "'ipv6-gw-' ~ item not in _ipv6_addresses.stdout[0]"
