# Ansible
*.retry

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.auto.tfvars

# Packer
packer_cache/
*.auto.pkrvars.hcl

# Secrets & environment
.env
*.vault
*vault-password*
*.age
*.key

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
