---
- name: Check if Proxmox storage backend exists
  ansible.builtin.command:
    cmd: "pvesm status --storage {{ proxmox_storage_name }}"
  register: pvesm_check
  changed_when: false
  failed_when: false
  check_mode: false

- name: Register ZFS pool as Proxmox storage backend
  ansible.builtin.command:
    cmd: >-
      pvesm add zfspool {{ proxmox_storage_name }}
      --pool {{ proxmox_storage_pool }}
      --content {{ proxmox_storage_content | join(',') }}
      --sparse 1
  when: pvesm_check.rc != 0
