# {{ ansible_managed }}
# Network configuration for Proxmox with VLAN-aware bridge

auto lo
iface lo inet loopback

iface {{ proxmox_physical_interface }} inet manual

auto {{ proxmox_bridge }}
iface {{ proxmox_bridge }} inet manual
    bridge-ports {{ proxmox_physical_interface }}
    bridge-stp off
    bridge-fd 0
    bridge-vlan-aware yes
    bridge-vids 2-4094

auto {{ proxmox_bridge }}.{{ proxmox_mgmt_vlan }}
iface {{ proxmox_bridge }}.{{ proxmox_mgmt_vlan }} inet static
    address {{ proxmox_mgmt_address }}
    gateway {{ proxmox_mgmt_gateway }}

source /etc/network/interfaces.d/*
