---
- name: Check if node has already joined the cluster
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf_check

- name: Join worker node to the cluster
  ansible.builtin.command: "{{ hostvars[groups['k8s_control_plane'][0]].k8s_join_command }}"
  when: not kubelet_conf_check.stat.exists

- name: Wait for node to be Ready
  become: false
  ansible.builtin.command: >-
    kubectl wait --for=condition=Ready
    node/{{ inventory_hostname }}
    --timeout=300s
  environment:
    KUBECONFIG: /home/debian/.kube/config
  delegate_to: "{{ groups['k8s_control_plane'][0] }}"
  changed_when: false
