---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps
  namespace: {{ argocd_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: "{{ gitops_repo_url }}"
    targetRevision: HEAD
    path: kubernetes/apps
    helm:
      valuesObject:
        spec:
          repoURL: "{{ gitops_repo_url }}"
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
