apiVersion: v1
kind: Secret
metadata:
  name: {{ authentik_secret_name }}
  namespace: {{ authentik_namespace }}
type: Opaque
stringData:
  authentik-secret-key: "{{ authentik_secret_key }}"
  authentik-postgresql-password: "{{ authentik_pg_password }}"
