apiVersion: v1
kind: Secret
metadata:
  name: {{ authentik_secret_name }}
  namespace: {{ authentik_namespace }}
type: Opaque
stringData:
  AUTHENTIK_SECRET_KEY: "{{ authentik_secret_key }}"
  AUTHENTIK_POSTGRESQL__PASSWORD: "{{ authentik_pg_password }}"
  AUTHENTIK_BOOTSTRAP_TOKEN: "{{ authentik_bootstrap_token }}"
