traefik:
  service:
    type: LoadBalancer
  api:
    dashboard: true
  ports:
    web:
      redirectTo:
        port: websecure
        priority: 10
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: Host(`traefik.ruddenchaux.xyz`)
      entryPoints:
        - websecure
      tls:
        secretName: traefik-dashboard-tls
