traefik:
  service:
    type: LoadBalancer
  api:
    dashboard: true
  ports:
    web:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: Host(`traefik.ruddenchaux.xyz`)
      entryPoints:
        - websecure
      tls:
        secretName: traefik-dashboard-tls
