---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ha_oidc_secret_name }}
  namespace: {{ ha_namespace }}
  labels:
    app.kubernetes.io/name: home-assistant
    app.kubernetes.io/instance: home-assistant
stringData:
  secrets.yaml: |
    ha_oidc_client_id: "{{ ha_oidc_client_id }}"
    ha_oidc_client_secret: "{{ ha_oidc_client_secret }}"
    ha_latitude: "{{ ha_latitude }}"
    ha_longitude: "{{ ha_longitude }}"
    ha_elevation: "{{ ha_elevation }}"
  client-id: "{{ ha_oidc_client_id }}"
  client-secret: "{{ ha_oidc_client_secret }}"
  ha-admin-password: "{{ ha_admin_password }}"
