---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-valkey
  labels:
    app.kubernetes.io/name: immich-valkey
    app.kubernetes.io/instance: immich
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: immich-valkey
  template:
    metadata:
      labels:
        app.kubernetes.io/name: immich-valkey
    spec:
      containers:
        - name: valkey
          image: {{ .Values.images.valkey }}
          ports:
            - name: redis
              containerPort: 6379
          livenessProbe:
            exec:
              command:
                - valkey-cli
                - ping
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - valkey-cli
                - ping
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: immich-valkey
  labels:
    app.kubernetes.io/name: immich-valkey
    app.kubernetes.io/instance: immich
spec:
  selector:
    app.kubernetes.io/name: immich-valkey
  ports:
    - name: redis
      port: 6379
      targetPort: redis
