argo-cd:
  configs:
    params:
      server.insecure: true
  server:
    ingress:
      enabled: true
      ingressClassName: traefik
      hostname: argocd.ruddenchaux.xyz
      tls: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
