apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.spec.repoURL }}
    targetRevision: {{ .Values.spec.targetRevision }}
    path: kubernetes/platform/traefik
  destination:
    server: {{ .Values.spec.destination.server }}
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
